@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .m-w-top {
    max-width: 53.25rem;
  }

  .m-w-landing {
    max-width: 51.5rem;
  }

  .m-w-card {
    max-width: 24.5rem;
  }

  .h-order {
    height: 508px;
  }
}

:root {
  scroll-behavior: smooth;

   {
    /* Code for Firefox */
    color: red;
    background: yellow;
  }
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: lightblue;
}

::selection {
  color: white;
  background: lightblue;
}
